html {
    background-color: #333;
    font-family: Lato;
    font-size: 2rem;
    font-weight: 300;
}

h3 {
    color: #edeaea;
    text-transform: uppercase;
    text-align: center;
    font-weight: inherit;
}

@keyframes right {
    0%, 100% {
        right: 1rem;

    }
    
    50% {
        right: calc(50% - 10vw);
    }
}

@keyframes left {
    0%, 100% {
        left: 1rem;

    }
    
    50% {
        left: calc(50% - 10vw);
    }
}
    

.right {
    height: 40vh;
    width: 10vw;
    border-radius: 0 180px 180px 0;
    background-color: yellowgreen;
    position: absolute;
    right: 1rem;
    top: 50vh;
    transform: translateY(-50%);
    animation: right 8s ease;
    transition: all 5s ease;
    backface-visibility: hidden;
}
.left {
    height: 40vh;
    width: 10vw;
    border-radius: 180px 0px 0px 180px;
    background-color: yellowgreen;
    position: absolute;
    left: 1rem;
    top: 50vh;
    transform: translateY(-50%);
    animation: left 8s ease;
    transition: all 5s ease;
}